@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"]</p>
<adress>
    <strong>
        <p>More Information:<a href="https://www.linkedin.com/in/mauroph/">  Mauro Cunha(Developer)</a> </p>
    </strong>
    
</adress>